# Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# GitHub Actions cache
.github/__pycache__/